/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23 juin 2017, 10:47:29
    Author     : Micka
*/

/*** IMPORT ***/


/*** GLOBAL ***/

$Global-Width: 100%;
$Global-Margin: 0px;
$Global-Padding: 0px;

$Global-FontFamily-SansSerif: Sans-Serif;
$Global-TextAlignCenter: center;
$Global-TextAlignJustify: justify;
$Global-FontWeight: bold;

// $Global-FontFamily-SansSerif: Sans-Serif;

/*** NAV ***/

$nav-Height: 50px;
$nav-Border: 2px solid white;

$nav-FontSize: 2em;
$nav-Color: white;

/*** HEADER ***/

$Header-BackgroundColor: #3C5F6E;
$Header-Padding: 40px;

$HeaderH1-Color: #F4BE3A;
$HeaderH1-FontSize: 24px;
$HeaderH1-Padding: 40px;

$HeaderP-Color: white;
$HeaderP-FontSize: 18px;
$HeaderP-Padding: 40px;

$HeaderButton-Border: 0px;
$HeaderButton-BackgroundColor: #F4BE3A;
$HeaderButton-Padding: 18px 25px;
$HeaderButton-FontSize: 18px;
$HeaderButton-Color: white;
$HeaderButton-Margin: 0 auto;
$HeaderButton-Display: block;

/*** SECTION SLIDERS ***/

/*** SECTION CARDS ***/

/*** SECTION PROFILES ***/

/*** FOOTER TOP ***/

$FooterTop-Color: white;
$FooterTop-Padding: 10px;
$FooterTop-Border: 3px solid white;
$FooterTop-Padding: 10px;
$FooterTop-BackgroundColor: #133036;

/*** FOOTER BOTTOM ***/

$FooterBottom-Color: white;
$FooterBottom-BackgroundColor: #133036;
$FooterBottom-Padding: 10px;

#html{
    margin: $Global-Margin;
    padding: $Global-Padding;
}

#body{
    margin: $Global-Margin;
    padding: $Global-Padding;
}

/*** NAV ***/

.navbar-default .navbar-nav>li>a {
  color: #fff;}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #EC4E20 ;}

.navbar-default{
  width: 100%;
  background-color: #EC4E20 ;
  height: 95px;
  border-top-color: #EC4E20;
  border-right-color: #EC4E20;
  border-left-color: #EC4E20;
  border-bottom-color: #fff;
  border-bottom-width: medium;
  border-radius: 0;}

.navbar-nav{
  margin-left: 10%;
  width: 80%;
  margin-top: 0.5%;}

#li-end-border{
    border-right: none !important;}
#nav{
    width: $Global-Width;
    height: $nav-Height;
}
#nav ul > li {
  color: white;
  text-align: $Global-TextAlignCenter;
  font-size: 18px;
  width:  20%;
  border-right: 2px solid #fff;
  line-height: 40px;}
#nav ul > li > a:hover{
  color: #fff;
  text-decoration: underline;}
.navbar-default{
    background-color: #EC4E20;
    height: 95px;
 }
/*** HEADER ***/

#header{
    width: $Global-Width;
    background-color: $Header-BackgroundColor;
    padding: $Header-Padding;
}

#header h1{
    color: $HeaderH1-Color;
    font-size: $HeaderH1-FontSize;
    text-align: $Global-TextAlignCenter;
    padding-bottom: $HeaderH1-Padding;
}

#header p{
    color: $HeaderP-Color;
    font-size:  $HeaderP-FontSize;
    text-align: $Global-TextAlignJustify;
    padding-bottom: $HeaderP-Padding;
}

#header .button{
    color: $HeaderButton-Color;
    border: $HeaderButton-Border;
    font-weight: $Global-FontWeight;
    font-size:  $HeaderButton-FontSize;
    background-color: $HeaderButton-BackgroundColor;
    padding: $HeaderButton-Padding;
    display: $HeaderButton-Display;
    margin: $HeaderButton-Margin;
}

/*** SECTION SLIDERS ***/

#sectionSliders{

}

#sectionSliders .slider{

}

#sectionSliders .slider img{

}

/*** SECTION CARDS ***/

#sectionCards{

}


#sectionCards .row{
    width: $Global-Width;
}

#sectionCards h2{

}

#sectionCards fa{ // fa = FontAwesonne

}

#sectionCards h3{

}

#sectionCards p{

}

/*** SECTION PROFILES ***/

#sectionProfiles{

}

#sectionProfiles .sectionProfilesImg{

}

#sectionProfiles h3{

}

#sectionProfiles p{

}

#sectionProfiles .sectionProfilesImgGuillements{

}

/*** FOOTER TOP ***/

#footerTop{
    padding: $FooterTop-Padding;
    text-align: $Global-TextAlignJustify;
    color: $FooterTop-Color;
    background-color: $FooterTop-BackgroundColor;
    border-bottom: $FooterTop-Border;
}

#footerTop h3{

}

#footerTop p{

}

/*** FOOTER BOTTOM ***/

#footerBottom{
    color: $FooterBottom-Color;
    background-color: $FooterBottom-BackgroundColor;
    padding: $FooterBottom-Padding;
}

#footerBottom .footerBottomBorder{

}

#footerBottom p{

}

#footerBottom .footerBottomLogoReseaux{

}
