/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23 juin 2017, 10:47:29
    Author     : Micka
*/

/*** IMPORT ***/


/*** GLOBAL ***/

$Global-Width: 100%;
$Global-Margin: 0px;
$Global-Padding: 0px;

$Global-FontFamily-SansSerif: Sans-Serif;
$Global-TextAlignCenter: center;
$Global-TextAlignJustify: justify;
$Global-FontWeight: bold;

// $Global-FontFamily-SansSerif: Sans-Serif;

/*** NAV ***/

$nav-Height: 50px;
$nav-Border: 2px solid white;

$nav-FontSize: 2em;
$nav-Color: white;

/*** HEADER ***/

$Header-BackgroundColor: #3C5F6E;
$Header-Padding: 40px;

$HeaderH1-Color: #F4BE3A;
$HeaderH1-FontSize: 24px;
$HeaderH1-Padding: 40px;

$HeaderP-Color: white;
$HeaderP-FontSize: 18px;
$HeaderP-Padding: 40px;

$HeaderButton-Border: 0px;
$HeaderButton-BackgroundColor: #F4BE3A;
$HeaderButton-Padding: 18px 25px;
$HeaderButton-FontSize: 18px;
$HeaderButton-Color: white;
$HeaderButton-Margin: 0 auto;
$HeaderButton-Display: block;

/*** SECTION SLIDERS ***/

$sectionSliders-PositionRelative-CarouselImg1: relative;
$sectionSliders-CarouselImg1-HorsCadre:30px;

$sectionSliders-CarouselInnerVisible:visible;
$sectionSliders-CarouselInnerHeight:320px;


$sectionSliders-CarouselIndicatorActiveColor:#BCF5A9;
$sectionSliders-CarouselIndicatorsInactiveColor:#BCF5A9;
$sectionSliders-CarouselIndicatorActiveWidth:20px;
$sectionSliders-CarouselIndicatorActiveHeight:20px;

$sectionSliders-CarouselIndicatorsBottom:-10px;


/*** SECTION CARDS ***/
$sectionCards-PFontSize:18px;

$sectionCards-BckColor:#F5F5F5;

$sectionCards-TabTopTouchImg:0px;

$sectionCards-TabBckColor:#44ADC2;

$sectionCards-PaddingBottomTabBottom1:20px;
$sectionCards-TabTop1PaddingBottom:20px;
$sectionCards-TabTop1PaddingTop:10px;

$sectionCards-ImageHDWidth:100%;
$sectionCards-ImageHDHeight:40px;

$sectionCards-TabTop2PaddingBottom:10px;
$sectionCards-TabTop2Margin-Top:20px;
$sectionCards-TabTop2PaddingTop:35px;
$sectionCards-PaddingBottomTab2Bottom:45px;
$sectionCards-PaddingTopTab2:20px;
$sectionCards-H2MarginBottom:5%;

$sectionCards-TabTop3PaddingBottomH3:20px;
$sectionCards-PaddingTopH3:20px;
$sectionCards-PaddingTopTab3:30px;
$sectionCards-PaddingBottomTabBottomH3:10px;
$sectionCards-H3Color:#fff;
$sectionCards-H3FontSize:20px;



/*** SECTION PROFILES ***/
$sectionCards-RowSeparator:50px;

$sectionProfiles-BckColor:#1B464E;
$sectionProfiles-MarginTop:0%;

$sectionProfiles-secstionProfilesStrongBckColor: #44adc2;
$sectionProfiles-secstionProfilesStrongHeight:500px;


$sectionProfiles-LightgBckColor: #ccc;
$sectionProfiles-LightgHeight:450px;
$sectionProfiles-PaddingTopPaddingBottom:0px;
$sectionProfiles-PaddingLeftPaddingRight:5px;
$sectionProfiles-PositionRelative:relative;
$sectionProfiles-MarginBottom:100px;

$Section-Profiles-BorderRadius:5px;

$sectionProfiles-sectionProfilesLightColorPandH3:#54b4c7;
$sectionProfiles-sectionProfilesLightANDprofilesStrongFontSizeP:18px;
$sectionProfiles-sectionProfilesLightANDstrongH3Font-Size:24px;
$sectionProfiles-PaddingTopP:10px;

$sectionProfiles-sectionProfilesStrongColorH3:#fff;

$sectionProfiles-offsetMarginRight-offsetMarginLeft:20px!important;
$sectionProfiles-offsetMarginRight-offsetMarginLeft:20px!important;

$sectionProfiles-offsetPaddingRight-offsetPaddingLeft:0!important;

$sectionProfiles-Remonter:-50px;

$sectionProfiles-ImageRemonter:60px;
$sectionProfiles-ImageRelative:relative;

/*** FOOTER TOP ***/

$FooterTop-Color: white;
$FooterTop-Padding: 10px;
$FooterTop-Border: 3px solid white;
$FooterTop-Padding: 10px;
$FooterTop-BackgroundColor: #133036;

/*** FOOTER BOTTOM ***/


$FooterBottom-Color: white;
$FooterBottom-BackgroundColor: #133036;
$FooterBottom-Padding: 10px;





#html{
    margin: $Global-Margin;
    padding: $Global-Padding;
}

#body{
    margin: $Global-Margin;
    padding: $Global-Padding;
}

/*** NAV ***/

.navbar-default .navbar-nav>li>a {
  color: #fff;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #EC4E20 ;}
.navbar-default{
  width: 100%;
  background-color: #EC4E20 ;
  height: 95px;
  border-top-color: #EC4E20;
  border-right-color: #EC4E20;
  border-left-color: #EC4E20;
  border-bottom-color: #fff;
  border-bottom-width: medium;
  border-radius: 0;}
.navbar-nav{
  margin-left: 10%;
  width: 80%;
  margin-top: 0.5%;}
#li-end-border{
    border-right: none !important;}
#nav{
    width: $Global-Width;
    height: $nav-Height;
}
#nav ul > li {
  color: white;
  text-align: $Global-TextAlignCenter;
  font-size: 18px;
  width:  20%;
  border-right: 2px solid #fff;
  line-height: 40px;}
#nav ul > li > a:hover{
  color: #fff;
  text-decoration: underline;}
.navbar-default{
    background-color: #EC4E20;
    height: 95px;
 }
/*** HEADER ***/

#header{
    width: $Global-Width;
    background-color: $Header-BackgroundColor;
    padding: $Header-Padding;
}

#header h1{
    color: $HeaderH1-Color;
    font-size: $HeaderH1-FontSize;
    text-align: $Global-TextAlignCenter;
    padding-bottom: $HeaderH1-Padding;
}

#header p{
    color: $HeaderP-Color;
    font-size:  $HeaderP-FontSize;
    text-align: $Global-TextAlignJustify;
    padding-bottom: $HeaderP-Padding;
}

#header .button{
    color: $HeaderButton-Color;
    border: $HeaderButton-Border;
    font-weight: $Global-FontWeight;
    font-size:  $HeaderButton-FontSize;
    background-color: $HeaderButton-BackgroundColor;
    padding: $HeaderButton-Padding;
    display: $HeaderButton-Display;
    margin: $HeaderButton-Margin;
}

/*** SECTION SLIDERS ***/

#sectionSliders{
  
}



#sectionSliders .slider{

}



#sectionSliders .carouselInnerImg1 {
    position:$sectionSliders-PositionRelative-CarouselImg1;
    bottom:$sectionSliders-CarouselImg1-HorsCadre;
}



#sectionSliders .carousel-inner{
    overflow:$sectionSliders-CarouselInnerVisible!important;
        overflow-x:$sectionSliders-CarouselInnerVisible!important;
            overflow-y:$sectionSliders-CarouselInnerVisible!important; 
    height:$sectionSliders-CarouselInnerHeight;
    
}


    
#sectionSliders .carousel-indicators {
    bottom:$sectionSliders-CarouselIndicatorsBottom!important;
    
}


#sectionSliders .carousel-indicators .active{
    background-color: $sectionSliders-CarouselIndicatorActiveColor!important;
    width:$sectionSliders-CarouselIndicatorActiveWidth!important;
    height:$sectionSliders-CarouselIndicatorActiveHeight!important;
}


#sectionSliders .carousel-indicators .inactive{
    background-color: $sectionSliders-CarouselIndicatorsInactiveColor!important;
   
}



#sectionSliders .slider img{

}



/*** SECTION CARDS ***/



#sectionCards{
background-color:$sectionCards-BckColor;
 
}


#sectionCards h2{
    margin-bottom:$sectionCards-H2MarginBottom;
  
}


#sectionCards h3{
    margin-top:$sectionCards-TabTopTouchImg;
    font-size: $sectionCards-H3FontSize;
    color:$sectionCards-H3Color;
}


#sectionCards p{
font-size:$sectionCards-PFontSize;
   
}



#sectionCards .tabTop-1{
    background-color:$sectionCards-TabBckColor;
    padding-bottom:$sectionCards-TabTop1PaddingBottom;
    padding-top:$sectionCards-TabTop1PaddingTop;
   
}



#sectionCards .imagehautDroite img{
width:$sectionCards-ImageHDWidth; 
    height:$sectionCards-ImageHDHeight;
}



#sectionCards .tabTop-2{
     background-color:$sectionCards-TabBckColor;
    padding-bottom:$sectionCards-TabTop2PaddingBottom;
    margin-top:$sectionCards-TabTop2Margin-Top;
}



#sectionCards .tabTop-2 h3{
    padding-top:$sectionCards-TabTop2PaddingTop;
}


#sectionCards .tabTop-3{
   background-color:$sectionCards-TabBckColor;
    padding-bottom:$sectionCards-TabTop3PaddingBottomH3;
}




#sectionCards .rowSeparator{
    margin-top:$sectionCards-RowSeparator;
}


#sectionCards .tabBottom-1{
    background-color: $sectionCards-TabBckColor;
    padding-bottom:$sectionCards-PaddingBottomTabBottom1;
    
}


#sectionCards .tabBottom-1 h3{
    padding-top: $sectionCards-PaddingTopH3;
    
}


#sectionCards .tabBottom-2{
    background-color:$sectionCards-TabBckColor;
    padding-bottom:$sectionCards-PaddingBottomTab2Bottom;
    padding-top:$sectionCards-PaddingTopTab2;
}
    

#sectionCards .tabBottom-3{
    background-color:$sectionCards-TabBckColor;
    padding-bottom:$sectionCards-PaddingBottomTabBottomH3;
}



#sectionCards .tabBottom-3 h3{
padding-top:$sectionCards-PaddingTopTab3;
}




#sectionCards .row{
    width:100%;
}


#sectionCards h2{

}

#sectionCards fa{ // fa = FontAwesonne

}

#sectionCards h3{

}

#sectionCards p{

}

/*** SECTION DISTANCES ***/

#distance{
    height:200px;
    background-color:#F5F5F5;
}

/*** SECTION PROFILES ***/



#sectionProfiles{

   background-color:$sectionProfiles-BckColor;
  margin-top:$sectionProfiles-MarginTop;

}



#sectionProfiles .sectionProfilesLight{
    
    background-color:$sectionProfiles-LightgBckColor;
    height: $sectionProfiles-LightgHeight;
padding:$sectionProfiles-PaddingTopPaddingBottom  $sectionProfiles-PaddingLeftPaddingRight
        $sectionProfiles-PaddingTopPaddingBottom  $sectionProfiles-PaddingLeftPaddingRight;
    position:$sectionProfiles-PositionRelative;
    bottom:$sectionProfiles-MarginBottom;
    border-radius:$Section-Profiles-BorderRadius;

    
}



#sectionProfiles .sectionProfilesLight p{
    color:$sectionProfiles-sectionProfilesLightColorPandH3;
    font-size:$sectionProfiles-sectionProfilesLightANDprofilesStrongFontSizeP;
    padding-top:$sectionProfiles-PaddingTopP;
}


#sectionProfiles .sectionProfilesLight h3{
     font-size:$sectionProfiles-sectionProfilesLightANDstrongH3Font-Size;
    color:$sectionProfiles-sectionProfilesLightColorPandH3;
}





#sectionProfiles .secstionProfilesStrong{
    background-color:$sectionProfiles-secstionProfilesStrongBckColor;
    height:$sectionProfiles-secstionProfilesStrongHeight;
padding:$sectionProfiles-PaddingTopPaddingBottom  $sectionProfiles-PaddingLeftPaddingRight
        $sectionProfiles-PaddingTopPaddingBottom  $sectionProfiles-PaddingLeftPaddingRight; 
    position:$sectionProfiles-PositionRelative;
    bottom:$sectionProfiles-MarginBottom;
     border-radius:$Section-Profiles-BorderRadius; 
       
}


#sectionProfiles .secstionProfilesStrong p{
    font-size:$sectionProfiles-sectionProfilesLightANDprofilesStrongFontSizeP;
    padding-top:$sectionProfiles-PaddingTopP;   

}



#sectionProfiles .secstionProfilesStrong h3{
    color:$sectionProfiles-sectionProfilesStrongColorH3;
      
}


#sectionProfiles .secstionProfilesStrong .managerColor{
    color:white;
}

#sectionProfiles .secstionProfilesStrongColor p{
    color:$sectionProfiles-sectionProfilesStrongColorH3;
  
}

#sectionProfiles .sectionProfilesImgGuillements{
    color:$sectionProfiles-secstionProfilesStrongBckColor;
}



 #sectionProfiles .offset{
   margin-left:$sectionProfiles-offsetMarginRight-offsetMarginLeft;
    margin-right:$sectionProfiles-offsetMarginRight-offsetMarginLeft;
    
}




#sectionProfiles .offset-0{
     padding-right:$sectionProfiles-offsetPaddingRight-offsetPaddingLeft;
    padding-left:$sectionProfiles-offsetPaddingRight-offsetPaddingLeft;
}

#sectionProfiles .sectionProfilesImg{

}




#sectionProfiles .sectionProfilesElements{
    margin-top:$sectionProfiles-Remonter;
}




#sectionProfiles .imgProfiles{
    position:$sectionProfiles-ImageRelative;
    bottom:$sectionProfiles-ImageRemonter;
}

#sectionProfiles h3{

}

#sectionProfiles p{

}

#sectionProfiles .sectionProfilesImgGuillements{

}

/*** FOOTER TOP ***/

#footerTop{
    padding: $FooterTop-Padding;
    text-align: $Global-TextAlignJustify;
    color: $FooterTop-Color;
    background-color: $FooterTop-BackgroundColor;
    border-bottom: $FooterTop-Border;
}

#footerTop h3{

}

#footerTop p{

}

/*** FOOTER BOTTOM ***/

#footerBottom{
    color: $FooterBottom-Color;
    background-color: $FooterBottom-BackgroundColor;
    padding: $FooterBottom-Padding;
}

#footerBottom .footerBottomBorder{

}

#footerBottom p{

}

#footerBottom .footerBottomLogoReseaux{

}
